body {
    background-color: #001f3f; /* Fondo azul oscuro */
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Letra infantil */
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    text-shadow: 2px 2px #000; /* Sombra oscura */
}

.instructions {
    padding: 20px;
}

.product-list img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.calculator {
    margin-top: 20px;
}

button {
    background-color: #ffcc00;
    font-size: 1.5rem;
    border: none;
    padding: 10px;
}
